

body {
    background-image: url(img/site_wallpaper.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
	margin: 200px 0 0 200px;
	padding: 0;
	font-family: arial;
	font-size: 5em;
	text-shadow: 0 10px 0 rgba(0,0,0,.5);
	color: #ffffff;
    position: fixed;
    top: 267px;
    left: 570px;
	
}
span:before{
	content:'Omer';
	color: #EA005E;
	animation: yazı infinite 8s;
    
    position: fixed;
    top: 450px;
    left: 920px;
	font-family: 'MinecraftiaRegular';
}
@keyframes yazı{
	0%{content:'Omer';}
	25%{content:'Gamer';}
	50%{content:'Student';}
	75%{content:'Scripter';}
	100%{content:'3D Modeller';}
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'MinecraftiaRegular';

	position: fixed;
	top: 30px;
	left: 650px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #6200ff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #6200ff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}